# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=pkc-619z3.us-east1.gcp.confluent.cloud:9092
KAFKA_TOPIC=your_kafka_topic
KAFKA_CONSUMER_GROUP=your_consumer_group
KAFKA_CLIENT_ID=your_client_id
KAFKA_SASL_USERNAME=your_sasl_username
KAFKA_SASL_PASSWORD=your_sasl_password

# iMessage API Configuration
IMESSAGE_API_BASE_URL=https://series-hackathon-service-202642739529.us-east1.run.app
IMESSAGE_API_KEY=your_api_key
SENDER_PHONE=your_sender_phone

# OpenAI API Configuration
OPENAI_API_KEY=your_openai_api_key
